.sign-in {
  width: 50%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 2px rgba(194, 180, 180, 0.25);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(194, 180, 180, 0.25);
  -moz-box-shadow: 0px 0px 4px 2px rgba(194, 180, 180, 0.25);

  .join {
    margin-top: 30px;
  }
}
