@import "../../../global.scss";

button {
  border: none;
  padding: 10px 20px;

  min-width: fit-content;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: bolder;
  &.orange {
    background-color: $primary;
    color: $white;

    &:hover {
      color: $primary;
      background-color: inherit;
      border: 1px solid $primary;
    }
  }
  &.google {
    background-color: #5295ec;
    color: $white;
    &:hover {
      color: #5295ec;
      background-color: inherit;
      border: 1px solid #5295ec;
    }
  }
}
